<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <% if current_user %>
        <span class="nav-sides"><%= current_user.email %> |</span>   <%= image_tag(current_user.avatar.url(:thumb), :class => "nav-thumb") %><span class="nav-sides"> | <%= link_to "Sign out", '/signout' %></span>
        <% else %>
        <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
        <% end %>
        <ul class="left hide-on-med-and-down">
          <li class="active"><a href="/products">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">JavaScript</a></li>
        </ul>
      </div>
    </nav>
    <div id="navbar" class="card-panel teal lighten-3">

    </div>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </body>
</html>
