<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper teal lighten-3">
        <div class="right valign-wrapper" id="nav-login">
          <% if current_user %>
            <%= current_user.email %>
            <span class="separator">|</span>
            <%= image_tag(current_user.avatar.url(:thumb), :class => "nav-thumb") %>
            <span class="separator">|</span>
            <%= link_to "Sign out", '/signout' %>
          <% else %>
            <%= link_to "Sign up", 'signup' %>
            <span class="separator">|</span>
            <%= link_to "Sign in", '/signin' %>
          <% end %>
        </div>
        <ul class="left hide-on-sm-and-down">
          <li class="active"><a href="/products">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">JavaScript</a></li>
        </ul>
      </div>
    </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </body>
</html>
