<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="nav-cart">
      <%= render "layouts/navbar"  %>
    </nav>
    <div class="row">
      <div class="col s8 offset-s2 teal lighten-3" id="title-container">
        <h1 class="center-align" id="title">Name TBD</h1>
      </div>

    </div>

    <%= flash[:alert] %>
    <%= flash[:notice] %>


    <%= yield %>
  </body>
</html>
